<meta property="og:title" content="${1:title}"/>
<meta property="og:type" content="${2:type}"/>
<meta property="og:image" content="${3:image}"/>
<meta property="og:url" content="${4:url}"/>
<meta property="og:site_name" content="${1:site}"/>
<meta property="og:description" content="${2:description}"/>
<meta property="fb:admins" content="${1:admins}"/>
<meta property="fb:app_id" content="${2:app_id}"/>
