<meta property="og:latitude" content="${1:latitude}"/>
<meta property="og:longitude" content="${2:longitude}"/>
<meta property="og:street-address" content="${3:street-address}"/>
<meta property="og:locality" content="${4:locality}"/>
<meta property="og:region" content="${5:region}"/>
<meta property="og:postal-code" content="${6:postal-code}"/>
<meta property="og:country-name" content="${7:country-name}"/>
